#header > img:nth-child(2) { 
    max-height: 40px !important;
    margin: 20px; /* Adds space around the image itself */
}

/* after opening the sidebar */
.css-14k6mw7 > img:nth-child(1) {
    max-height: 20px !important;
}